---

---
<!doctype html>
<html lang="en">

    <head>
        {% include "mixins/head.njk" %}
        
        
    </head>
    
    <body class="min-h-screen text-c-primary leading-tight font-primary bg-gray-100">
        <div class="wrapper flex flex-col h-screen">
            {% include "mixins/navigation.njk" %}
            <main class="h-full flex-grow w-2/5 mx-auto mt-24">
                {{ content | safe }}
            </main>
            {% include "mixins/footer.njk" %}
        </div>
    </body>
    <script src="{{ assets['main.js'] }}" type="text/javascript"></script>

</html>