<!--
  The following 2 meta tags *must* come first in the <head>
  to consistently ensure proper document rendering.
  Any other head element should come *after* these tags.
-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title> {% if title %} {{ title }} - {% endif %}{{ site.title }}</title>

<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<!-- Control the behavior of search engine crawling and indexing -->
<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<!-- Tells Google not to show the sitelinks search box -->
<meta name="google" content="nositelinkssearchbox">

<!-- Tells Google not to provide a translation for this document -->
<meta name="google" content="notranslate">

<!-- Gives a general age rating based on the document's content -->
<meta name="rating" content="General">

<!-- Allows control over how referrer information is passed -->
<meta name="referrer" content="no-referrer">

<meta name="generator" content="eleventy">

<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no">

<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
{% if site.social.image or featured_image %}
    <meta property="og:image" content="{% if env == 'production' %}{{ site.url }}{% endif %}{% if featured_image  %}{{ featured_image }}{% else %}{{ site.social.image }}{% endif %}" />
  <meta property="og:image:alt" content="{% if featured_image_alt %}{{ featured_image_alt }}{% else %}{{ site.social.image_alt }}{% endif %}">
{% endif %}
<meta property="og:description" content="{{ site.description }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="article:author" content="{{ site.author }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.social.twitter }}">
<meta name="twitter:creator" content="{{ site.social.twitter }}">
<meta name="twitter:title" content="{{ site.title }}">

<link href="{{ assets['main.css'] }}" rel="stylesheet" type="text/css">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
